[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest-watch = "*"
autopep8 = "*"
jupyter = "*"
rope = "*"

[packages]
pytest = "*"
notebook = "==5.7.5"
numpy = "*"

[requires]
python_version = "3.7"
